return {
  c = {{ 'true' if languages.c else 'false' }},
  cpp = {{ 'true' if languages.cpp else 'false' }},
  python = {{ 'true' if languages.python else 'false' }},
  javascript = {{ 'true' if languages.javascript else 'false' }},
  typescript = {{ 'true' if languages.typescript else 'false' }},
  rust = {{ 'true' if languages.rust else 'false' }},
  lua = {{ 'true' if languages.lua else 'false' }},
  bash = {{ 'true' if languages.bash else 'false' }},
  html = {{ 'true' if languages.html else 'false' }},
  css = {{ 'true' if languages.css else 'false' }},
  json = {{ 'true' if languages.json else 'false' }},
  yaml = {{ 'true' if languages.yaml else 'false' }},
  toml = {{ 'true' if languages.toml else 'false' }},
  markdown = {{ 'true' if languages.markdown else 'false' }},
  cmake = {{ 'true' if languages.cmake else 'false' }},
  jinja = {{ 'true' if languages.jinja else 'false' }},
  jsonnet = {{ 'true' if languages.jsonnet else 'false' }},
  docker = {{ 'true' if languages.docker else 'false' }},
  zsh = {{ 'true' if languages.zsh else 'false' }},
}
