{% if features.github_binaries | default('true') == 'true'
      and features.extra_devtools | default('true') == 'true' -%}
{% raw -%}
-- Clang-tidy log parser: ClangTidyShowLog, ClangTidyDiff (from GitHub)
return {
  url = "https://github.com/jesusmb1995/nvim-clang-tidy-analysis",
  lazy = true,
  cmd = {
    "ClangTidyShowLog",
    "ClangTidyDiff",
    "ClangTidyGenerateOld",
    "ClangTidyGenerateNew",
    "ClangTidyGenerateNewDiff",
    "ClangTidyGenerateDiff",
  },
}
{% endraw -%}
{%- else -%}
return {}
{%- endif -%}
