{% if features.github_binaries | default("true") != "true" %}
-- Disabled in employee/disable_some mode.
return {}
{% else %}
return {
  "julianolf/nvim-dap-lldb",
  lazy = true,
  dependencies = {
    "mfussenegger/nvim-dap",
  },
  keys = {
    { '<leader>Vc', function() require("dap-lldb").setup() end, "Setup DAP LLDB" }
  },
}

{% endif %}
