{% if features.github_binaries | default("true") != "true" %}
-- Disabled in employee/disable_some mode.
return {}
{% else %}
return {
  "mfussenegger/nvim-dap-python",
  lazy = true,
  config = function()
    local python = vim.fn.getcwd() .. "/venv/bin/python"
    require("dap-python").setup(python)
  end,
  dependencies = {
    "mfussenegger/nvim-dap",
  }
}

{% endif %}
