{% if features.github_binaries | default('true') == 'true'
      and features.extra_devtools | default('true') == 'true' -%}
{% raw -%}
return {
  "julianolf/nvim-dap-lldb",
  lazy = true,
  dependencies = {
    "mfussenegger/nvim-dap",
  },
  keys = {
    { '<leader>Vc', function() require("dap-lldb").setup() end, "Setup DAP LLDB" }
  },
}

{% endraw -%}
{%- else -%}
return {}
{%- endif -%}
